{% extends 'index.html' %}

{% block content %}

<h3 class="deep-orange-text">Wszystkie książki</h3>
<ul class="collection">
    {% for item in object_list %}
    <li class="collection-item avatar">
      <div class="row">
        <div class="col s6">
            <span class="title">{{ item.name }}</span>
            <p>{{ item.description }}</p>

            <h5>Cena: {{ item.price }}$
              {% if user.is_authenticated %}
              <a href="{% url 'cart_add_product' product_pk=item.pk %}"
                 class="btn-floating btn-large waves-effect waves-light red">
                <i class="shopping_basket">
                  +
                </i>
              </a>
              {% endif %}
            </h5>
        </div>

        <div class="col s3 card-image">
          <img src="{{ item.imageurl }}" class="left-align rectangle">
        </div>
      </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
